MYSQL_DATABASE=database_cua_cac_ban
MYSQL_USER=user_cua_database
MYSQL_PASSWORD=password_cho_user
MYSQL_ROOT_PASSWORD=password_cho_root

DOCKER_REGISTRY=noi_dang_luu_tru_docker_registry
DOCKER_USERNAME=username_dockerhub_cua_ban
DOCKER_ACCESS_TOKEN=token_truy_cap_docker_registry_cua_ban # Lên https://hub.docker.com/settings/security để tạo token mới